body{
margin-top: 0px;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
margin-left:auto;
margin-right: auto;
background-color: #747371;
font-size: 1.4rem;
background-image: url('images/pattern.png');
}
#mainheader{
background-color: #a593c2;

}
h1{
font-size: 2rem;
background: #223;
color:blueviolet;
margin: 2%;
}
nav {
height: 70px;
width: 1000px;
margin: 0 auto 20px;
}
#leftmenu{
float: left;
width: 30%;
margin-bottom: 20px;
}
aside h4{
text-align: center;
color: aqua;
}

.searchbox {
padding: 5px;
margin: 10px;
width: 200px;
}
#main{
float: right;
width: 70%;
margin-bottom: 20px;
font-size: 1.2rem;

}
footer {
clear: both;
width: 100%;
margin: 10px;
padding: 10px;
color: #2617c9dc;
text-align: center;
font-size: 1.5rem;
background-color: #747371;

}
article header h1{
color:#ffee23
}

nav>ul>li a{
    float:left;
}

header,section,footer,aside,nav,main,article,figure{
display:block;
}
a{
    font-size: 1.5rem;
    font-weight: bolder;
    padding: 10px;
}
table{
    border: 1px solid black;
}
iframe{
    padding: auto;
    margin: 20px;
}
main > article>header>h1{
    text-align: center;
    width: 90%;
    margin: 0.5%;
    padding: 2%;
    float: right;
    
}