body{
grid: grid;
grid: "header" 5em
      "main" 20em
      "footer" 5em/ 1fr;
height:200px;
}
@media screen and (min-width:600px) {
    body{
grid: grid;
grid: "header header" 5em
      "main main" 20em
      "footer footer" 5em/ 1fr 2fr;
}
}
@media screen and (min-width:800px) {
    body{
grid: grid;
grid: "header header header" 5em
      "main main main" 20em
      "footer footer footer" 5em/ 1fr 2fr 1fr;
}
}
h1{
font-size: 2rem;
background: #223;
color:blueviolet
}
footer{
text-align: center;
font-size:1.5rem ;
color:#22ffee;
background: #223;
}
main{
display: grid;
margin: 1em;
grid-column-end: span 2;

}
img{
height: 200px;
}
.images img{
border-radius: 0.25;
grid-column: span 3;
}
.images {
grid-column: 1 /-1;
display: grid;
grid-template-columns:repeat(12, 1fr);
grid-row-gap: 0.5em;
grid: gaps 0.5em;
background: #23cfa7;
border-radius: 0.5;
padding: auto;
}

#headlog{
align-self: center;
background: #aaa;
}
#headlog >img{
margin:5px;
padding: 2px;
align-content: center;
float:left;
}
#headlog >p{
margin:2px;
padding: 2px;
font-size: 1.2rem;
align-content: center;
}
@media screen and (max-width:500px) {
img{
width: 95%;
}
.images{
width: 95%;
}      
}
#welcome{
align-content: center;
text-align: center;
font-size: 1.5rem;
color: #444fff;
text-decoration: underline;
}
